.main-container-company {
    flex: 1 1 auto;
    height: 100%;
    max-width: 100vw !important;

    background-image: url('/media/login_background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.form-top-company {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-bottom-right-company {
    border-bottom-right-radius: 10px;
}

.form-bottom-left-company {
    border-bottom-left-radius: 10px;
}


/*On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 650px) {

    .form-bottom-right-company {
        text-align: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .form-bottom-left-company {
        border-bottom-left-radius: 0px;
    }
}