.candidate {
    &-section {
        &-note {
            background-color: green;
            color: white;
            height: 50px;
            font-size: 30px;
            padding-left: 20px;
        }
    }
}

.regSection {
    &-back {
        background-image: url('./images/regsection/company.jpg');
    }
}