.campaign-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2px;
}
.campaign-title-underline {
  background-color: #c7c7c7;
  width: 350px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 5px;
}

.campaign-head {
  background-color: #303030;
  width: 160px;
  color: white;
  margin-right: 20px;
  text-align: center;
  padding: 5px 0px;
}

.campaign-title-subtitle {
  font-size: 14px;
}

.btn-sky {
  background-color: rgb(5, 135, 186);
  padding: 2px 10px 4px;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
}

.btn-orange {
  background-color: orange;
  width: 160px;
  color: white;
  margin-right: 20px;
  text-align: center;
  padding: 5px 0px;
  float: left;
  border-radius: 10px;
}

.star-label {
  border: 1px solid #030350;
  color: #030350;
  padding: 2px 10px;
  border-radius: 10px;
}

.btn-bottom {
  width: 152px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: BOLD;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}
